body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #51217d, #d467f5);
    height: 100vh;
    font-size: 16px;
    justify-content: center;
}