body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #51217d, #d467f5);
    font-family: Arial, sans-serif;
}
.titulo-imagen {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
    height: auto;
    background-color: #f0f0f0;
    border-radius: 10px;
}
.login-container {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 200px;
}
.login-container h2 {
    height: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.login-container input{
    height: 40px;
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#submit
{
    height: 40px;
    width: 100%;
}

.error-message {
    color: red;
    display: none;
}